
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

.container {
	width: $container-width;
	margin: 0 auto;
	position: relative;
	@extend %clearfix;
}
/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 47px 0 42px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 45px 0 20px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */

.icon-load{
	background: url(../img/content/loader.gif) no-repeat left top;
	width:40px;
	height:40px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-left:-20px;
	display:none;
}
.loaded .icon-load{
	display:block;
}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.main-wrapper {	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	background: #f9f9f9;
	background-image: url(../img/content/pattern.png);
}

.title {
	font-size: 30px;
	color: #2b2b2b;
	font: bold 30px "Comfortaa";

}

.head {
	@include open_sans(regular);
	font-size: 16px;
	text-transform: uppercase;
	color: #363636;
	margin-left: 28px;
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}



/*
================================================================================
|                                     SLIDESHOW                                 |
================================================================================
*/

.slider {
	position: relative;
	margin-bottom: 170px;
}

.slider__list-wrap {
	width: 926px;
	overflow: hidden;
	height: 870px;
}

.slider__list {
 	@extend %clearfix;
	width: 9000px;
	position: relative;
	left: 0;
	transition:.3s;
 }

.slider__item {
	float: left;
}

.slider__control {
	position: relative;
}

.slider__controls-button {
	position: absolute;
    bottom: -60px;
	width: 38px;
	height: 38px;
	border: 1px solid #dbdbdb;
	border-radius: 50%;
	background: #f1f1f1;
}

.slider__controls-next {
	left: 365px;
	&:after {
		content: "";
		position: absolute;
		background: url("../img/icons/arrow_left.png");
		width: 6px;
		height: 10px;
		top: 14px;
		left: 15px;
	}
}

.slider__controls-prev {	
	right: 365px;
	&:before {
		content: "";
		position: absolute;
		background: url("../img/icons/arrow_right.png");
		width: 6px;
		height: 10px;
		top: 14px;
		left: 15px;
	}
}
	



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



