
//main styles

html {
	font-size: 16px;
}

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	// min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}

.container {
	width: $container-width;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	@extend %clearfix;
}
/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: rem(15px) 0 rem(15px) 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: rem(47px) 0 rem(42px) 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 0 0 rem(20px) 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: rem(15px) 0 rem(15px) 0;
	font-weight: 400;
}


/* loader */

.icon-load{
	background: url(../img/content/loader.gif) no-repeat left top;
	width: rem(40px);
	height: rem(40px);
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: rem(-20px);
	margin-left: rem(-20px);
	display: none;
}
.loaded .icon-load{
	display: block;
}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.main-wrapper {	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	background: #f9f9f9;
	background-image: url(../img/content/pattern.png);
}

.title {
	font-size: rem(30px);
	color: #2b2b2b;
	font: bold rem(30px) "Comfortaa";
	letter-spacing: rem(-2px);
}

.head {
	@include open_sans(regular);
	font-size: rem(16px);
	text-transform: uppercase;
	color: #363636;
	margin-left: rem(28px);
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}



/*
================================================================================
|                                     SLIDESHOW                                 |
================================================================================
*/

.slider {
	position: relative;
	margin-bottom: rem(125px);
}

.slick-prev, .slick-next {
	position: absolute;
    bottom: rem(-35px);
	width: rem(38px);
	height: rem(38px);
	border: 1px solid #dbdbdb;
	border-radius: 50%;
	background: #f1f1f1;
	font-size: 0;
}

.slick-prev {
	left: rem(390px);
	&:after {
		content: "";
		position: absolute;
		background: url("../img/icons/arrow_left.png");
		width: rem(6px);
		height: rem(10px);
		top: rem(14px);
		left: rem(15px);
	}
}

.slick-next {	
	right: rem(393px);
	&:before {
		content: "";
		position: absolute;
		background: url("../img/icons/arrow_right.png");
		width: rem(6px);
		height: rem(10px);
		top: rem(14px);
		left: rem(15px);
	}
}
.slick-dots {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	bottom: rem(-27px);
}
.slick-dots
	li {
		display: inline-block;
		height: rem(5px);
		width: rem(5px);
		background: #dbdbdb;
		border-radius: 50%;
		border: none;
		margin-left: rem(7px);

		&:first-child {
			margin-left: 0px;
		}
}
.slick-dots 
	button {
		font-size: 0;
		border: none;
    	background: transparent;
}

.slick-dots 
	li.slick-active	{
	background: #e44256;
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



