/*
================================================================================
|                                    PADE-CONTENT                                |
================================================================================
*/
.page__content {
	float: left;
	width: 926px;
}

.catalog__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.catalog__item {
	position: relative;
	border-radius: 4px;
	margin-right: 28px;
	border: 1px solid #eaeaea;

	&:first-child {
		margin-left: 28px;
	}

	&:hover {
		border: 1px solid #c2e8f0;
		box-shadow: 0px 5px 12px 2px  rgba(#48b3cb, 0.3);		
	}
}

.catalog__img {
	position: relative;
	overflow: hidden;
}

.catalog__img-pic {
	display: block;
	max-width: 100%;
}

.catalog__desc {
	background: #fff;
	text-align: center;
	padding: 20px;
	font-size: 15px;
	color: #282828;
	position: relative;
}


.catalog__desc-pic {
	background: url(../img/icons/star.png) repeat-x;
	width: 75px;
	height: 15px;
	margin: 0 75px 20px;	
}

.catalog__desc-pic-star {
	width: 60px;

	&:after {
		content: "";
		background: url(../img/icons/star_write.png) repeat-x;
		width: 15px;
		height: 15px;
		position: absolute;
		right: 95px;
	}
}

.catalog__dec-title {
	margin-bottom: 40px;
	position: relative;
    font-family: sans-serif; 
    @include open_sans(regular);

	&:after {
		content: "";
		position: absolute;
		width: 79px;
		height: 1px;
		background: #dbdbdb;
		top: 35px;
		left: 75px;
	}

	&:hover {
		color: #23a2be;
	}
}

.catalog__dec-price {
	@include open_sans(bold);
}

.catalog__new, .catalog__hit {
	text-transform: uppercase;
	color: #fff;
    font-size: 11px;
    font-family: sans-serif; 
	@include open_sans(semibold);
	display: block;
	border-radius: 2px;
	position: absolute;
	top: 11px;
	left: 13px;
}

.catalog__new {
	padding: 10px 3px 9px 6px;
	background: #48b3cb;
}
.catalog__hit {
	padding: 10px 7px 7px 9px;
	background: #ffae2e;
}


@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}