
/*
================================================================================
|                                     SIDEBAR                                  |
================================================================================
*/
.sidebar{
	background:#fbfbfb;
	width: 270px; 
	float: left;	
}

.filter__item {
	border: 1px solid #e1e1e1;
	position: relative;
	padding: 15px 19px 12px;
	border-bottom: 0px;

	&:last-child {
		border-bottom: 1px solid #e1e1e1;
		padding: 0px;
	}
}

.filter__text {
	color: #343434;
	font: bold 14px "Arial";
}

.filter__form {
	position: absolute;
	right: 6px;
	top: 5px;
}

.filter__form-input {
	width: 158px;
	border: 0 none;
	outline: none;
	color: #464646;
	border: 1px solid #e1e1e1;
	padding: 10px 13px 5px;
	background: #f3f3f3;
	border-radius: 2px;
	font-size: 14px;
}


.filter__img {
	background: url("../img/icons/arrow.png");
	width: 10px;
	height: 6px;
	position: absolute;
	right: 16px;
	top: 18px;
}

.dropdown__link {
	display: block;
	padding: 8px 10px 8px 30px;
	color: #444;
	font: 500 13px "Arial";

	&:first-child {
		padding: 0px;
	}
}

.dropdown__link-active {
	color: #48b3cb;
	border-right: 3px solid #93deff;    
}
.dropdown__item-first {
	padding: 13px 19px;
	border-bottom: 1px solid #e1e1e1;
}
.dropdown__item-bottom {
	text-align: center;
	border-top: 1px solid #e1e1e1;
	padding: 13px 0;
}

.dropdown__link-color {
	color: #48b3cb;
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

	
