
/*
================================================================================
|                                     SIDEBAR                                  |
================================================================================
*/
.sidebar{
	background:#fbfbfb;
	width: rem(270px); 
	float: left;	
}

.filter__item {
	border: 1px solid #e1e1e1;
	position: relative;
	border-bottom: 0px;

	&:last-child {
		border-bottom: 1px solid #e1e1e1;
		
	}
}
.filter__text-img {  
	&:before {
		content: "";
		background: url("../img/icons/arrow.png");
		width: rem(10px);
		height: rem(6px);
		position: absolute;
		right: rem(18px);
		top: rem(16px);
		z-index: 1;

	}
}

.filter__text-img-js.active {
	&:before {
		transform: rotate(180deg);
		transition: transform .3s;
	}	
}

.filter__text {
	font: bold rem(14px) "Arial";
	padding: rem(12px) rem(18px);
	display: block;
}

.filter__text-js {	 
		border-bottom: 1px solid #e1e1e1;
}

.filter__form-input {
	appearance: none;
	border: 1px solid #e1e1e1;
	background: #f3f3f3;
	outline: none;
	padding: rem(6px) rem(11px);
	position: absolute;
	right: rem(7px);
	top: rem(5px);
	border-radius: 2px;
	width: rem(158px);
	font-family: 'open_sansregular';
	font-size: rem(14px);
	color: #464646;
	line-height: 1.1;

	option {
		background-color: #fbfbfb;
		outline: none;
		transition: transform .3s;
	}
}

.dropdown__list {
	height: rem(178px);
	overflow: auto;
	display: none;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	right: rem(10px);
	top: rem(15px);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: rem(3px);
	background: #93deff;
	height: rem(65px);

}

.mCSB_dragger {
	height: rem(65px);

}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #fbfbfb;
}
.dropdown__item {
	padding-top: rem(12px);
	color: #464646;
	font: 400 rem(13px) "Arial";
	padding-left: rem(17px);

	&:last-child {
		padding-bottom: rem(15px);
	}
}

.dropdown__item-checkbox:checked ~ .dropdown__item-text {
	color: #36a8bf;
}

.filter__link {
	color: #36a8bf;
	font: 400 rem(13px) "Arial";
	display: block;
	padding: rem(11px) 0;
	text-align: center;	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

	
